*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 1176px;
    margin: 0 auto;
}

root {
    font-size: 14px;

}
body{
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: sans-serif;*/
    font-family: 'Lato', sans-serif;
    color: #606062;
}
.shadow:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.page-header {
    height: 4rem;
    position: fixed;
    width: 100vw;
    transition: all 0.6s;
    z-index: 9;

}
.page-header-shrink {
    height: 2.5rem;
    background-color: rgba(256, 256, 256, 0.9);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header-Navigation {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-Navigation-Brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

}.header-Navigation-Brand-Logo {
     display: flex;
     align-items: center;
     height: 75%;

 }
.header-Navigation-Brand-Logo-Icon {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}
.header-navigation-List {
    margin-left: auto;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}


#menu-toggle {display: none;}

.label-toggle {display: none;
    }

.header-navigation-List li {
    color: #606062;
    flex-direction: row;
    /*position: relative;*/
    overflow: hidden;
    height: 100%;
    min-width: 5rem;
    /*transition: .5s ease;*/
}
.header-navigation-List li:nth-last-child(2){
    padding: 5px;
}
.header-navigation-List li:nth-last-child(2) a{
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: underline solid #efd100;
    background-color: #efd100;
    border-radius: 1rem;
}
.header-navigation-List a:hover{
    background-color: #606062;

    color: #ffffff;
}

.header-navigation-List a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background: #ffffff;
    transform: translateX(-100%);
    transition: transform .5s ease;
}
.header-navigation-List a:hover::before {
    transform: translateX(0);
}

.header-navigation-List a {
    text-decoration: none;
    color: inherit;
    /*transition: .1s;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 1.5rem;*/
    position: relative;
    overflow: hidden;
    font-weight: 700;
    font-size: 0.9rem;
}

.facebook-icon {
    background-image: url(../graphics/fbicon.ico);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 768px){
    .flex-breaker{
        display: block;
        width: 100%;
        height: 0;
    }
    .header-navigation-List {
        flex-direction: column;
        /*visibility: hidden;*/
        /*display: none;*/
        visibility: hidden;
        width: 0%;
        transition: all 0.5s;
        height: 80vh;
        font-size: 2rem;
        display: flex;
        overflow: hidden;
    }
    .header-navigation-List li{
        width: 100vw;
        display: block;


    }
    #menu-toggle {
        /*display: flex;*/
        /*justify-content: flex-end;*/
    }

    .label-toggle {
        /*background: linear-gradient(to bottom, #606062 0%, #606062 20%, transparent 20%, transparent 40%, #606062 40%, #606062 60%, transparent 60%, transparent 80%, #606062 80%, #606062 100%);*/
        background: linear-gradient(to bottom, transparent 0%, transparent 19%, #2E313C 19%, #2E313C 23%, transparent 23%, transparent 48%, #2E313C 48%, #2E313C 52%, transparent 52%, transparent 76%, #2E313C 76%, #2E313C 80%, transparent 80%), linear-gradient(transparent, transparent);
        cursor: pointer;
        display: flex;
        margin: 5px;
        height: 70%;
        width: 2.9rem;
        /*position: relative;*/
        transition: background .3s ease;

        /*page-break-after: always;*/

    }
    .label-toggle::before{
        content: '';
        position: absolute;
        display: inline-block;
        /*display: none;*/
        visibility: hidden;
        top:0;
        left: 100vw;
        background-color: rgba(256, 256, 256, 0.9);
        width: 100vw;
        height: 100vh;
        z-index: -1;
        transition: all 0.5s;
    }
    #menu-toggle:checked ~ .header-navigation-List{
        visibility: visible;

        /*display: flex;*/
        width: 100%;
        /*height: 80vh;*/
        /*font-size: 2rem;*/
        /*margin-top: 40px;*/
        /*background-color: rgba(256, 256, 256, 0.9);*/

    }
    #menu-toggle:checked ~ .label-toggle{
        /*z-index: 7;*/
        background: linear-gradient(-45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%);
    }

    #menu-toggle:checked ~ .label-toggle::before{
        /*display: inline-block;*/
        visibility: visible;
left: 0;


    }
    /*#menu-toggle:checked ~ .header-navigation-List li{*/
        /*width: 100vw;*/
        /*display: block;*/


    /*}*/



}





.main-Banner {
    display: flex;
    align-items: center;
    background-image: url(../graphics/BeautyComplex1.jpg);
    background-size: cover;
    background-position: center center;
    height: 95vh;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(256, 256, 256, 0.6);
    background-attachment: fixed;
    /*box-shadow: 0px 10px 2px rgba(256, 256, 256, 0.6);*/
position: relative;
}
/*.main-Banner:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 0;*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
/*}*/


.main-Banner-Logo {
    display: flex;
    justify-content: center;


}
.main-Banner-Logo-Image {
    height: 90%;
    width: 90%;

}
.site-description{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.site-description h1 {
    margin: 7vh;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-bottom: 3vh;
    border-bottom: 2px solid #efd100;
    text-align: center;
    font-weight: 100;
    /*border-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%);*/
    /*radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/

}
.site-description h2 {
    /*margin: 7vh;*/
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;


}

.add-info{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../graphics/BeautyComplex41.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    box-shadow:inset 0 0 0 2000px rgba(1, 1, 1, 0.6);


}
/*.add-info:after {*/
    /*top: 0;*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 0;*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
/*}*/

.add-info-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.add-info-col {
    width: 49%;
    /*border: 1px solid #777777;*/
    /*border-radius: 8px;*/
    padding: 20px;

}
.add-info-img{

    background-image: url(../graphics/BeautyComplex11.jpg);
    height: 700px;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.add-info-txt{
    color: white;
    text-align: center;
    margin: auto;
    font-weight: 300;
    font-size: 2rem;


}
.add-info-txt h2{
    font-size: 4rem;
    padding-bottom: 10vh;
    font-weight: 100;
    
}
@media (max-width: 768px){
    .add-info-flex{
        flex-direction: column;

    }
    .add-info-col {
        width: 90%;
        /*border: 1px solid #777777;*/
        /*border-radius: 8px;*/
        /*padding: 20px;*/

    }
}




.main-Info {
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    /*background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),*/
    /*radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
    /*background-attachment:fixed*/
}
/*.main-Info:after {*/
    /*top: 0;*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: -1;*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
/*}*/

.main-info-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-info-col {

    width: 32%;
    min-width: 383px;
    background: white;
    /*padding: 20px;*/
    /*overflow: hidden;*/
    text-align: center;


}
@media (max-width: 768px) {
    .main-info-col {
        width: 90%;
        padding-bottom: 10vh;
    }

}
.main-info-col > h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;

}
.main-info-col-img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 40px;
    height: 300px;
    background-size: cover;


}
.main-info-col-img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05);
}
.main-info-col-one {

}
.main-info-col-one-img {
    background-image: url(../graphics/BeautyComplex22.jpg);


}
.main-info-col-two {

}
.main-info-col-two-img {
    background-image: url(../graphics/BeautyComplex27.jpg);


}
.main-info-col-three {

}
.main-info-col-three-img {
    background-image: url(../graphics/BeautyComplex30.jpg);


}


.gallery{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.gallery li{
    /*width: 370px;*/
    /*height: 370px;*/
    min-width: 383px;
    width: 32%;
    height: 300px;
    margin-bottom: 1vh;

}
@media (max-width: 768px) {
    .gallery li {
        width: 90%;
        height: 90vw;
    }

}
.gallery li img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    height: 100%;


}
.gallery li img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor: zoom-in;
    transform: scale(1.05);

}

.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background:rgba(0,0,0,0.7);
    overflow: hidden;
}




.fullScreen .close {
    position: absolute;
    margin: auto;
    width: 5vh;
    height: 5vh;
    transform: translate(90vw, 10vh);
    border: none;
    transition: all 0.3s ease;
    overflow: visible;
    background: linear-gradient(-45deg, transparent 0%, transparent 48%, #ffffff 49%, #ffffff 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, #ffffff 49%, #ffffff 51%, transparent 51%, transparent 100%);;
}
.gallery-btn {
    position: absolute;
    /*background-size: 5vh, 5vh;*/
    height: 5vh;
    width: 5vh;
    border: none;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    background: transparent;
    /*overflow: hidden;*/
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background: linear-gradient(-45deg, transparent 0%, transparent 48%, #ffffff 49%, #ffffff 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, #ffffff 49%, #ffffff 51%, transparent 51%, transparent 100%);;*/
}
.gallery-prev {
    transform: translate(5vw, 50vh) rotate(45deg);
}
.gallery-next {
    transform: translate(90vw, 50vh) rotate(225deg);
}

.fullScreen img {
    display: block;
    margin: 2vh auto ;
    width: auto;
    height: 96vh;
}


.reservation{
    padding-top: 10vh;
    padding-bottom: 20vh;
    background-image: url(../graphics/BeautyComplex30.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow:inset 0 0 0 2000px rgba(1, 1, 1, 0.6);
    background-attachment: fixed;
    position: relative;
}
/*.reservation:after {*/
    /*top: 0;*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 0;*/
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
/*}*/
.reservation-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reservation-header{
    text-align: center;
    color: white;
    font-size: 5rem;
    margin: 7vh;
    padding-bottom: 3vh;
    font-weight: 100;
    border-bottom: 2px solid #efd100;
    z-index: 1;
}
.reservation-link{
text-align: center;
    background-color: #efd100;
    color: white;
    margin: 0 7vh 0 7vh;
    font-weight: 400;
    font-size: 4rem;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.reservation-link:hover{
    background: white;
    color: #efd100;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.09);
}
.contact{
    width: 100%;
    height: 60vh;
    z-index: 0;
    position: relative;
}

.map{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-flex{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;

}
.contact-content{
    width: 25rem;
    height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.contact-content-logo{
    width: 366px;
    height: 107px;
    margin-bottom: 10%;


}
.contact-content-info{
    color: #606062;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;

}
.contact-content-info p {
    border-bottom: 2px solid #efd100;
    margin: 2rem;
    padding: 1.5rem;
}
.contact-content-info b{
    font-weight: 700;
}
.brands{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #fff;

}
.brands-list{display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.brands-list-header{
    color: #606062;
    font-weight: 700;
    width: 60%;
    margin: 2rem 20% 2rem 20%;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid #efd100;

}
.brands-list-logo{
    width: 100px;
    height: 50px;
    background-color: lightpink;
    margin: 2rem;


}
.brands-list-logo-a{

}

.footer{
    border-top: 1px solid #606062;
    padding: 5vh 0 5vh 0;
}
.footer-brand{
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding: 1rem;


}
.footer-credits{
    font-weight: 700;
    width: 100%;
    text-align: center;

}