*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 1176px;
    margin: 0 auto;
}

root {
    font-size: 14px;
}


.page-header {
    height: 4rem;
    position: fixed;
    width: 100vw;
    transition: all 0.6s;
    z-index: 10;

}
.page-header-shrink {
    height: 2.5rem;
    background-color: rgba(256, 256, 256, 0.9);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header-Navigation {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-Navigation-Brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

}.header-Navigation-Brand-Logo {
     display: flex;
     align-items: center;
     height: 75%;

 }
.header-Navigation-Brand-Logo-Icon {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}
.header-navigation-List {
    margin-left: auto;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}


#menu-toggle {display: none;}

.label-toggle {display: none;
    }

@media (max-width: 768px){
    .header-navigation-List {
        flex-direction: column;
        /*visibility: hidden;*/
        display: none;
    }
    #menu-toggle {
        /*display: flex;*/
        /*justify-content: flex-end;*/
    }

    .label-toggle {
        /*background: linear-gradient(to bottom, #606062 0%, #606062 20%, transparent 20%, transparent 40%, #606062 40%, #606062 60%, transparent 60%, transparent 80%, #606062 80%, #606062 100%);*/
        background: linear-gradient(to bottom, transparent 0%, transparent 19%, #2E313C 19%, #2E313C 23%, transparent 23%, transparent 48%, #2E313C 48%, #2E313C 52%, transparent 52%, transparent 76%, #2E313C 76%, #2E313C 80%, transparent 80%), linear-gradient(transparent, transparent);
        cursor: pointer;
        display: flex;
        margin: 5px;
        height: 70%;
        width: 2.9rem;
        /*position: relative;*/
        transition: all .3s ease;

    }
    #menu-toggle:checked ~ .header-navigation-List{
        /*visibility: visible;*/
        display: flex;
        width: 100vw;
        height: 80vh;
        font-size: 2rem;
        /*margin-top: 40px;*/
        /*background-color: rgba(256, 256, 256, 0.9);*/

    }
    #menu-toggle:checked ~ .label-toggle{
        /*transform: rotate(180deg);*/
        background: linear-gradient(-45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, #2E313C 49%, #2E313C 51%, transparent 51%, transparent 100%);
    }

    #menu-toggle:checked ~ .label-toggle::before{
        content: '';
        position: absolute;
        display: inline-block;
        top:0;
        left: 0;
        background-color: rgba(256, 256, 256, 0.9);
width: 100vw;
        height: 100vh;
        z-index: -1;
        /*transform: translateY(-90vw);*/
        transform: rotate(-180deg);

    }
    #menu-toggle:checked ~ .header-navigation-List li{
        width: 100vw;
        display: block;


    }



}
.header-navigation-List li {
    color: #606062;
    flex-direction: row;
    /*position: relative;*/
    overflow: hidden;
    height: 100%;
    min-width: 5rem;
    /*transition: .5s ease;*/
}
.header-navigation-List a:hover{
    background-color: #606062;

    color: #ffffff;
}

.header-navigation-List a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background: #ffffff;
    transform: translateX(-100%);
    transition: transform .5s ease;
}
.header-navigation-List a:hover::before {
    transform: translateX(0);
}

.header-navigation-List a {
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;
    /*transition: .1s;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 1.5rem;*/
    position: relative;
    overflow: hidden;
}

.facebook-icon {
    background-image: url(../graphics/fbicon.ico);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}






.main-Banner {
    display: flex;
    align-items: center;
    background-image: url(../graphics/BeautyComplex1.jpg);
    background-size: cover;
    background-position-y: -150px;
    height: 95vh;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(256, 256, 256, 0.6);
    background-attachment: fixed;
    /*box-shadow: 0px 10px 2px rgba(256, 256, 256, 0.6);*/
position: relative;
}
.main-Banner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.main-Banner-Logo {
    display: flex;
    justify-content: center;


}
.main-Banner-Logo-Image {
    height: 90%;
    width: 90%;

}


.main-Info {
    padding-top: 100px;
    padding-bottom: 100px;
    /*background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),*/
    /*radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
    /*background-attachment:fixed*/
}

.main-info-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-info-col {

    width: 32%;
    min-width: 383px;
    background: white;
    /*padding: 20px;*/
    /*overflow: hidden;*/
    font-family: sans-serif;

}
@media (max-width: 768px) {
    .main-info-col {
        width: 100%;
    }

}
.main-info-col > h2 {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 40px;

}
.main-info-col-img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 40px;
    height: 300px;
    background-size: cover;


}
.main-info-col-img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05);
}
.main-info-col-one {

}
.main-info-col-one-img {
    background-image: url(../graphics/BeautyComplex22.jpg);


}
.main-info-col-two {

}
.main-info-col-two-img {
    background-image: url(../graphics/BeautyComplex27.jpg);


}
.main-info-col-three {

}
.main-info-col-three-img {
    background-image: url(../graphics/BeautyComplex30.jpg);


}

.add-info{
    padding-top: 100px;
    padding-bottom: 100px;

}
.add-info-flex{
    display: flex;
    justify-content: space-around;

}
.add-info-col {
    width: 49%;
    /*border: 1px solid #777777;*/
    /*border-radius: 8px;*/
    background: white;
    padding: 20px;

}
.add-info-img{

    background-image: url(../graphics/BeautyComplex11.jpg);
    height: 700px;
    background-size: cover;

}
.add-info-txt{

}